{% extends 'base.html.twig' %}

{% block title %}

	Naruto Streaming

{% endblock %}


{% block body %}

	<div id="divHome" class="d-flex align-items-center flex-column justify-content-center">

		<h1 class="text-white">
			NARUTO STREAMING</h1>
		<a class="btn btn-primary btn-lg mb-5" href="{{ path('episode_list') }}">Accéder aux épisodes</a>

	</div>

{% endblock %}
