#divHome {
  background-image: url("https://imgr.cineserie.com/2020/05/top-des-meilleurs-episodes-de-naruto-shippuden.jpg?imgeng=/f_jpg/cmpr_0/w_660/h_370/m_cropbox&ver=1");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#avatarProfile {
  height: 200px;
}

#avatarProfile img {
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  top: -120px;
}

@media screen and (max-width: 768px) {
  #avatarProfile img {
    height: 100px;
    top: -80px;
  }
}
